<!--<p>home works!</p>-->
<!--<div>-->
<!--  <img class="navbar_logo" src="https://i.imgur.com/bVoSn2y.png" width="140" height="80">-->

<!--  <button mat-button class='nav-link' routerLinkActive='active'-->
<!--          [routerLink]="['/welcome']">Home-->
<!--  </button>-->

<!--  <button mat-button class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"-->
<!--          [routerLink]="['/applicants']" [matMenuTriggerFor]="applicantMenu">Applicant-->
<!--  </button>-->
<!--  <mat-menu #applicantMenu="matMenu" yPosition="below">-->
<!--    <button mat-menu-item>Add</button>-->
<!--    <button mat-menu-item>List</button>-->
<!--  </mat-menu>-->

<!--  <button mat-button class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"-->
<!--          [routerLink]="['/cityOpportunities']" [matMenuTriggerFor]="cityOpportunityMenu">City & Opportunity-->
<!--  </button>-->
<!--  <mat-menu #cityOpportunityMenu="matMenu" xPosition="before">-->
<!--    <button mat-menu-item>Add</button>-->
<!--    <button mat-menu-item>List</button>-->
<!--  </mat-menu>-->

<!--  <button mat-button class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"-->
<!--          [routerLink]="['/cards']" [matMenuTriggerFor]="cardMenu">Card-->
<!--  </button>-->
<!--  <mat-menu #cardMenu="matMenu" xPosition="after">-->
<!--    <button mat-menu-item>Add</button>-->
<!--    <button mat-menu-item>List</button>-->
<!--  </mat-menu>-->

<!--  <button mat-button class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"-->
<!--          [routerLink]="['/aboutUs']">About Us-->
<!--  </button>-->

<!--  <button mat-button class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"-->
<!--          [routerLink]="['/contact']">Contact-->
<!--  </button>-->

<!--</div>-->

<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
<div class="text-center">
  <img src="https://i.imgur.com/wsueJXX.jpg"
       class="img-responsive center-block"
       style="height:500px;width: 900px;" />
</div>
